.custom_open_notify {
  color: #ffffff !important;

  .ant-notification-notice-message {
    width: 0px !important;
    height: 0px !important;
    display: none;
  }

  .ant-notification-notice-close {
    display: none;
  }
}
